{% extends 'author/base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
    <header class="flex items-center justify-between mb-6">
        <div>
            <h2 class="text-3xl font-semibold">Channel Dashboard</h2>
        </div>
        <!-- <div class="flex items-center space-x-4">
            <button class="h-10 w-10 border border-gray-300 bg-white p-2 hover:bg-gray-100 rounded-full"><i
                    class="fa fa-upload"></i></button>
            <button class="h-10 w-10 border border-gray-300 bg-white p-2 hover:bg-gray-100 rounded-full"><i
                    class="fa fa-tower-broadcast"></i></button>
            <button class="h-10 w-10 border border-gray-300 bg-white p-2 hover:bg-gray-100 rounded-full"><i
                    class="fa-regular fa-pen-to-square"></i></button>
        </div> -->
    </header>
    <!-- Grid Content -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- column 1 -->
        <div class="flex flex-col gap-4">
            <!-- Latest Video Performance -->
            <div class="bg-white shadow-md p-4 rounded-md">
                <h3 class="text-lg font-bold mb-2">Latest Book Performance</h3>
                {% with book=user.books.last %}
                {% if book %}
                <div class="space-y-2">
                    <img alt="Latest Video" class="w-48 h-64 rounded-md" src="{{book.thumbnail.url}}" />
                    <p class="text-gray-600">{{book.title}}</p>
                    <ul class="text-sm space-y-2 py-4">
                        {% comment %} <li class="flex justify-between">
                            <div>Ranking by reads</div>
                            <div>6 of 10 <button class="fa fa-chevron-right pl-1"></button></div>
                        </li> {% endcomment %}
                        <li class="flex justify-between">
                            <div>Reads</div>
                            <div>{{book.views}}<button class="fa fa-circle-up pl-1 text-green-600"></button></div>
                        </li>
                        <li class="flex justify-between">
                            <div>Impression Click-through rate</div>
                            <div>0% <button class="fa fa-circle-down text-red-600 pl-1"></button></div>
                        </li>
                        <li class="flex justify-between">
                            <div>Avarage read duration</div>
                            <div>0 <button class="fa fa-circle-minus pl-1 text-gray-500"></button></div>
                        </li>
                    </ul>
                    <a href="{% url 'author:content_analytics' book.slug %}"
                        class="px-4 py-2 font-medium block w-fit text-sm bg-gray-200 rounded-md hover:bg-gray-300">Go
                        to book
                        Analytics</a>
                    <a href="{% url 'author:content_comments' book.slug %}"
                        class="px-4 py-2 block w-fit font-medium text-sm bg-gray-200 rounded-md hover:bg-gray-300">
                        See comments({{book.comments.count}})
                </a>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <!-- Published Videos -->
            {% comment %} <div class="bg-white shadow-md p-4 rounded-md">
                <h3 class="text-lg font-bold mb-2">Published Books</h3>
                <ul class="text-gray-600 space-y-2">
                    <li>My Kaku! Who is a Famous Video Creator</li>
                    <li>Subscription Gera</li>
                    <li>Abir Biman Play</li>
                </ul>
            </div> {% endcomment %}
        </div>
        <!-- column 2 -->
        <div class="flex flex-col gap-4">
            <!-- Channel Analytics -->
            <div class="bg-white shadow-md p-4 rounded-md space-y-3">
                <h3 class="text-lg font-bold mb-2">Channel Analytics</h3>
                <p class="font-medium text-sm">Current Subscribers</p>
                <div class="text-5xl">{{user.followers_users.count}}</div>
                <div class="text-gray-600 text-sm">
                    <span class="text-red-600 hidden">-2</span>
                    <span class="text-green-600">+{{followers_in_28.count}}</span>
                    in last 28 days

                </div>
                <hr class="py-2" />
                <div class="space-y-3">
                    <div class="text-sm space-y-1">
                        <div class="font-bold">Summary</div>
                        <div class="text-gray-600">Last 28 days</div>
                    </div>
                    <ul class="text-sm space-y-2">
                        <li class="flex justify-between">
                            <div>Reads</div>
                            <div>{{user.userprofile.get_total_views}}<button class="fa-regular fa-circle-check pl-1 text-green-600"></button>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div>Reading time (Hours)</div>
                            <div>{{user.userprofile.get_total_reading_time}} <button class="fa-regular fa-circle-xmark text-red-600 pl-1"></button>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div>Your estimated Revenew</div>
                            <div>0$ <button class="fa fa-circle-minus pl-1 text-gray-500"></button></div>
                        </li>
                    </ul>
                </div>
                <hr class="py-2" />
                <div>
                    <div class="text-sm space-y-1">
                        <div class="font-bold">Summary</div>
                        <div class="text-gray-600">Last 48 hours - Reads</div>
                    </div>
                </div>
            </div>
            <!-- Latest Comments -->
            <div class="bg-white shadow-md p-4 rounded-md">
                <h3 class="text-lg font-bold mb-2">Latest Comments</h3>
                <p class="text-gray-600">No comments yet</p>
            </div>
        </div>
        <!-- column 3 -->
        <div class="flex flex-col gap-4">
            <!-- What's New -->
                {% comment %} <div class="bg-white shadow-md p-4 rounded-md">
                    <h3 class="text-lg font-bold mb-2">What's New in Studio</h3>
                    <p class="text-gray-600">Upcoming changes to community guidelines</p>
                </div> {% endcomment %}
        </div>
    </div>


{% endblock %}