{% extends 'author/base.html' %}
{% load static %}
{% block title %}
Community
{% endblock %}
{% block content %}
<header class="flex items-center justify-between mb-6">
    <div>
        <h2 class="text-3xl font-semibold">Community</h2>
    </div>
</header>
<ul class="flex gap-4 font-medium text-gray-600 border-b">
    <li class="p-2 cursor-pointer text-black border-b-2 font-bold border-gray-500">
        Comments
    </li>
    <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
        Mentions
    </li>
</ul>
<!-- tags -->
<div class="flex gap-2 py-2 *:p-2 *:bg-gray-300 *:rounded-lg text-sm border-b">
    <div class="!bg-black text-white">Published</div>
    <div>Held</div>
</div>
<div class=" w-full overflow-x-scroll">
    {% if comments %}
    {% for comment in comments %}
    <!-- comments items  -->
    <div class="flex lg:justify-between gap-16 p-4 border-b w-full">
        <div class="flex gap-4">
            <input class="block h-5 w-5" type="checkbox" />
            <img alt="" class="h-14 w-14"
                src="{{comment.user.userprofile.profile_picture.url}}" />
            <div class="text-sm space-y-1">
                <div>@<a href="{% url 'main:profile' comment.user.username %}">{{comment.user.username}}</a> - {{comment.created_at|timesince}} ago</div>
                <div>{{comment.content}}</div>
                <div class="flex items-center gap-1">
                    <button class="py-2 px-4 bg-gray-100 font-bold hover:bg-gray-200 rounded-full">Reply</button>
                    <button class="py-2 px-4 bg-gray-100 hover:bg-gray-200 rounded-full whitespace-nowrap">0 replies <i
                            class="fa fa-chevron-down h-5 w-5"></i></button>
                    <button class="p-2 hover:bg-gray-200 rounded-full"><i
                            class="fa-regular fa-thumbs-up h-5 w-5"></i></button>
                    <button class="p-2 hover:bg-gray-200 rounded-full"><i
                            class="fa-regular fa-thumbs-down h-5 w-5"></i></button>
                    <button class="p-2 hover:bg-gray-200 rounded-full"><i
                            class="fa-regular fa-heart h-5 w-5"></i></button>
                    <button class="p-2 hover:bg-gray-200 rounded-full"><i
                            class="fa fa-ellipsis-vertical h-5 w-5"></i></button>
                </div>
            </div>
        </div>
        <div>
            <div class="flex gap-4 items-center">
                <img alt="" class="h-20 w-12 object-cover" src="{{comment.book.thumbnail.url}}" />
                <div class="text-sm whitespace-nowrap">
                    <div>{{comment.book.title}}</div>
                    <div>{{comment.book.published_date|date:'M d, Y'}}</div>
                </div>
                <button class="p-2 hover:bg-gray-200 rounded-full" onclick="location.href=`{% url 'main:book_view' comment.book.slug %}`">
                    <i class="fa fa-up-right-from-square h-5 w-5"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    No comments yet.
    {% endif %}

    
</div>
{% endblock %}