{% extends 'author/base.html' %}
{% load static %}
{% block title %}
Content
{% endblock %}
{% block content %}
<header class="flex items-center justify-between mb-6">
    <div>
        <h2 class="text-3xl font-semibold">Channel Content</h2>
    </div>
</header>
<ul class="flex gap-4 font-medium text-gray-600 border-b-2 overflow-x-scroll">
    <li class="p-2 cursor-pointer text-black border-b-2 font-bold border-gray-500">
        Books
    </li>
    <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
        News
    </li>
    
</ul>
<div class="w-full overflow-x-scroll">
    <table class="text-sm text-left rtl:text-right overflow-x-scroll">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th class="px-6 py-5 flex gap-3 items-center border-r h-full min-w-96" scope="col">
                    <input id="" name="" type="checkbox" /> Books
                </th>
                <th class="px-2 py-3" scope="col">Visibility</th>
                <th class="px-2 py-3" scope="col">Restrictions</th>
                <th class="px-2 py-3" scope="col">Date</th>
                <th class="px-2 py-3" scope="col">Views</th>
                <th class="px-2 py-3" scope="col">Comments</th>
                <th class="px-2 py-3 text-end" scope="col">Likes(vs Dislikes)</th>
            </tr>
        </thead>
        <tbody> 
            <!-- ------------------------ -->
            <!-- Content item row -->
            <!-- ------------------------ -->
             <style>
                .description {
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* Limits text to 2 lines */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
             </style>
             {% for book in user.books.all %}
            <tr class="bg-white border-b align-top text-xs">
                <th class="px-6 py-4 font-medium text-gray-900 dark:text-white flex gap-3 border-r" scope="col">
                    <input id="" name="" type="checkbox" />
                    <img alt="" class="h-20 w-12 object-cover" src="{{book.thumbnail.url}}" />
                    <div class="text-sm cursor-pointer" onclick="location.href=`{% url 'author:content_details' book.slug %}`">
                        <div class="font-bold">{{book.title}}</div>
                        <div class="text-gray-600 description">
                            {{book.description}}
                        </div>
                    </div>
                </th>
                <td class="px-2 py-6 whitespace-nowrap">
                    <select name="" id="" class="block p-1 rounded">
                        <option value="">Public</option>
                        <option value="">Privet</option>
                    </select>
                    {% comment %} <i class="fa fa-earth-asia"></i> <span>Public</span>
                    <i class="fa fa-chevron-down cursor-pointer p-2 rounded-full hover:bg-gray-200"></i> {% endcomment %}
                </td>
                <td class="px-2 py-6">None</td>
                <td class="px-2 py-4 whitespace-nowrap">
                    <div class="">
                        <div class="font-bold">{{book.published_date|date:'M d, Y'}}</div>
                        <div class="text-gray-600">Published</div>
                    </div>
                </td>
                <td class="px-2 py-4 text-end">{{book.views}}</td>
                <td class="px-2 py-4 text-end">{{book.comments.count}}</td>
                <td class="px-2 py-4 text-end">
                    <div class="text-sm">
                        <div class="font-bold">100%</div>
                        <div class="text-gray-600">{{book.likes.count}} Likes</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<div class="flex flex-col sm:flex-row text-sm sm:justify-end gap-6 p-4 bg-white border-b items-center text-gray-600">
    <div class="flex items-center gap-2">
        <div>Rows per page</div>
        <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="" name="">
            <option value="">10</option>
            <option value="">30</option>
            <option value="">50</option>
        </select>
    </div>
    <div class="*:p-2">
        <div class="inline-block">1-9 of 9</div>
        <i class="fa fa-angles-left block cursor-pointer" title="First page"></i>
        <i class="fa fa-angle-left block cursor-pointer" title="Previous page"></i>
        <i class="fa fa-angle-right block cursor-pointer" title="Next page"></i>
        <i class="fa fa-angles-right block cursor-pointer" title="Last page"></i>
    </div>

</div>
{% endblock %}