{% extends 'author/base.html' %}
{% load static %}
{% block title %}
Content
{% endblock %}
{% block content %}
<header class="flex items-center justify-between mb-6">
    <div>
        <h2 class="text-3xl font-semibold">Channel Content</h2>
    </div>
</header>
<ul class="flex gap-4 font-medium text-gray-600 border-b-2 overflow-x-scroll *:p-2 *:cursor-pointer *:hover:border-b-2">
    <li class="hover:border-gray-300 {% if content_type == 'books' %} active-menu {% endif %}" onclick="location.href=`{% url 'author:author_content' 'books' %}`">
        Books
    </li>
    <li class="hover:border-gray-300 {% if content_type == 'news' %} active-menu {% endif %}" onclick="location.href=`{% url 'author:author_content' 'news' %}`">
        News
    </li>

</ul>
<div class="w-full overflow-x-scroll">
    <table class="text-sm text-left rtl:text-right w-full overflow-x-scroll">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th class="px-6 py-5 flex gap-3 items-center border-r h-full min-w-96" scope="col">
                    <input id="select_all" name="" type="checkbox" /> Books
                </th>
                <th class="px-2 py-3" scope="col">Visibility</th>
                <th class="px-2 py-3" scope="col">Restrictions</th>
                <th class="px-2 py-3" scope="col">Date</th>
                <th class="px-2 py-3" scope="col">Views</th>
                <th class="px-2 py-3" scope="col">Comments</th>
                <th class="px-2 py-3 text-end" scope="col">Likes(vs Dislikes)</th>
            </tr>
        </thead>
        <tbody>
            <!-- ------------------------ -->
            <!-- Content item row -->
            <!-- ------------------------ -->
            <style>
                .description {
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    /* Limits text to 2 lines */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            </style>
            {% for book in books %}
            <tr class="bg-white border-b align-top text-xs">
                <th class="px-6 py-4 font-medium text-gray-900 flex gap-3 border-r" scope="col">
                    <input id="select-{{book.id}}" class="select" name="" type="checkbox" />
                    <img alt="" class="h-20 w-12 object-cover" src="{{book.thumbnail.url}}" />
                    <div class="text-sm cursor-pointer"
                    {% if content_type == 'books' %}
                        onclick="location.href=`{% url 'author:content_details' book.slug %}`"
                    {% else %}
                        onclick="location.href=`/author/news-details/{{book.slug}}`"
                    {% endif %}
                        >

                        <div class="font-bold">{{book.title}}</div>
                        <div class="text-gray-600 description">
                            {{book.description}}
                        </div>
                    </div>
                </th>
                <td class="px-2 py-6 whitespace-nowrap">
                    <select name="" id="" data-book-id="{{book.id}}"
                        class="block p-1 rounded visibility-toggle cursor-pointer">
                        <option value="Public" {% if book.status == 'Public' %} selected {% endif %}>Public</option>
                        <option value="Private" {% if book.status == 'Private' %} selected {% endif %}>Private</option>
                    </select>
                </td>
                <td class="px-2 py-6">None</td>
                <td class="px-2 py-4 whitespace-nowrap">
                    <div class="">
                        <div class="font-bold">{{book.published_date|date:'M d, Y'}}</div>
                        <div class="text-gray-600">Published</div>
                    </div>
                </td>
                <td class="px-2 py-4 text-end">{{book.views}}</td>
                <td class="px-2 py-4 text-end">{{book.comments.count}}</td>
                <td class="px-2 py-4 text-end">
                    <div class="text-sm">
                        <div class="font-bold">100%</div>
                        <div class="text-gray-600">{{book.likes.count}} Likes</div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div class="flex flex-col sm:flex-row text-sm sm:justify-end gap-6 p-4 bg-white border-b items-center text-gray-600">
    <div class="flex items-center gap-2">
        <div>Rows per page</div>
        <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="rows_per_page" name="">
            <option value="10" {% if request.session.rows_per_page == 10 %} selected {% endif %}>10</option>
            <option value="30" {% if request.session.rows_per_page == 30 %} selected {% endif %}>30</option>
            <option value="50" {% if request.session.rows_per_page == 50 %} selected {% endif %}>50</option>

        </select>
    </div>
    <div class="*:p-2">
        <div class="inline-block">Page {{ books.number }} of {{ books.paginator.num_pages }}</div>
        <i class="fa fa-angles-left block cursor-pointer" title="First page" onclick="location.href=`?page=1`"></i>
        <i class="fa fa-angle-left block cursor-pointer" title="Previous page" {% if books.has_previous %}
            onclick="location.href=`?page={{books.previous_page_number}}`" {% endif %}></i>
        <i class="fa fa-angle-right block cursor-pointer" title="Next page" {% if books.has_next %}
            onclick="location.href=`?page={{books.next_page_number}}`" {% endif %}></i>
        <i class="fa fa-angles-right block cursor-pointer" title="Last page"
            onclick="location.href=`?page={{books.paginator.num_pages}}`"></i>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('.visibility-toggle').forEach(element => {
        element.addEventListener('change', function () {
            let book_id = this.getAttribute('data-book-id')
            let status = this.value
            fetch(`/author/change-visibility/${book_id}/${status}`)
                .then(data => data.json())
                .then(data => {
                    console.log(data.status)
                })
                .catch(error => console.log(error))

            console.log(book_id)
        })
    })

    document.querySelector('#select_all').addEventListener('change', () => {
        document.querySelectorAll('.select').forEach((element) => {
            if (element.checked) {
                element.checked = false
            } else {
                element.checked = true
            }
        })
    })
    function updateSessionKey(newValue) {
        fetch('/author/update-session-key/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ key: newValue })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.log('Failed to update session key');
                }
            });
    }
    document.querySelector('#rows_per_page').addEventListener('change', function () {
        updateSessionKey(this.value);
    });
</script>

{% endblock %}