<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Bookish</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block header %}{% endblock %}
</head>

<body>

   <div id="notifications-container" class="fixed w-full sm:w-auto top-7 sm:right-16 space-y-4 z-[1000]">
      <!-- Notifications will be added here dynamically -->
    </div>

    {% include 'components/user_nav.html' %}

    <!-- Main Content -->
    <div class="flex min-h-screen">
        <!-- Sidebar -->
        <aside
            class="pt-20 z-40 fixed left-0 top-0 h-full w-64 bg-white shadow-lg p-4 overflow-y-auto transform -translate-x-full md:translate-x-0 transition-all duration-300 ease-in-out"
            id="sidebar">
            <nav>
                <ul class="space-y-1 text-sm mt-4" id="sidebarItems">
                    <li class="flex flex-col justify-center items-center">
                        <img src="{{user.userprofile.profile_picture.url}}" id="sidebar_profile_img"
                            class="h-24 w-24 rounded-full mb-2 transition-all duration-300" alt="">
                        <div class="text-sm font-bold">Your channel</div>
                        <div class="text-sm font-thin">{{user.userprofile.full_name}}</div>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_dashboard' %}`" data-page="dashboard"
                        class="flex items-center space-x-3 p-2 rounded-lg transition-all hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-table-columns text-lg w-6"></i>
                        <span class="text-gray-700">Dashboard</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_content' 'books' %}`" data-page="content"
                        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-play text-lg w-6"></i>
                        <span class="text-gray-700">Content</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_analytics' %}`" data-page="analytics"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-list w-6"></i>
                        <span class="text-gray-700">Analytics</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_community' %}`" data-page="community"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-message w-6"></i>
                        <span class="text-gray-700">Community</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_copyright' %}`" data-page="copyright"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa-regular fa-copyright w-6"></i>
                        <span class="text-gray-700">Copyright</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:author_earn' %}`" data-page="earn"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-dollar-sign w-6"></i>
                        <span class="text-gray-700">Earn</span>
                    </li>



                    <!-- Add more menu items here -->
                </ul>
            </nav>
        </aside>



        <!-- Main Content -->
        <main class="flex-1 w-full p-4 md:ml-64 transition-all delay-100 ease-in-out overflow-hidden" id="content">

           {% block content %}

           {% endblock %}

        </main>

    </div>

    <script src="{% static 'js/admin.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>