{% extends 'author/content_base.html' %}
{% load static %}
{% block title %}
Content analytics
{% endblock %}
{% block content %}
<header class="flex items-center justify-between mb-6">
    <div>
        <h2 class="text-3xl font-semibold">
            Book analytics
        </h2>
    </div>
    <button class="py-2 px-4 bg-gray-100 rounded-full text-sm font-medium hover:bg-gray-200">
        Advanced
        Mode
    </button>
</header>
<div class="flex justify-between items-end border-b">
    <ul class="flex gap-4 font-medium text-gray-600 text-sm overflow-x-scroll">
        <li class="p-2 cursor-pointer text-black border-b-2 font-bold border-gray-500">
            Overview
        </li>
        <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
            Reach
        </li>
        <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
            Engagement
        </li>
        <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
            Audience
        </li>
    </ul>
    <div class="relative pb-2">
        <div class="flex gap-6 cursor-pointer dropdownButton">
            <div class="text-xs hidden sm:block"> {{start_date}} - {{end_date|date:'M. d, Y'}} <div class="text-sm">Last {{days}} days</div>
            </div>
            <button><i class="fa fa-chevron-down p-2 rounded-full"></i></button>
        </div>
        <!-- Dropdown Menu -->
        <div class="dropdownMenu absolute right-0 w-48 z-40 bg-white border border-gray-200 rounded-lg shadow-lg hidden"
            id="dropdownMenu">
            <ul class="py-1">
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="{% url 'author:content_analytics' book.slug %}?days=7">
                        Last 7 days
                    </a>
                </li>
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="{% url 'author:content_analytics' book.slug %}?days=28">
                        Last 28 days
                    </a>
                </li>
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="{% url 'author:content_analytics' book.slug %}?days=90">
                        Last 90 days
                    </a>
                </li>
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="{% url 'author:content_analytics' book.slug %}?days=365">
                        Last 365 days
                    </a>
                </li>
                <li class="border-b">
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">
                        Lifetime
                    </a>
                </li>
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">
                        2024
                    </a>
                </li>
                <li class="border-b">
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">
                        2025
                    </a>
                </li>
                <li>
                    <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">
                        Custom
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="flex flex-col sm:flex-row gap-4">
    <div class="sm:w-9/12">
        <div class="text-center text-xl sm:text-3xl font-medium py-6">
            Your book got {{views.count}} reads in last {{days}} days
        </div>
        <div class="border rounded-xl">
            <div class="grid grid-cols-3">
                <div class="text-center border-r space-y-2 my-2 p-2 cursor-pointer" onclick="showReadsChart()">
                    <div class="text-sm">Reads</div>
                    <div class="text-xl">{{views.count}} <i class="fa fa-circle-arrow-down text-gray-400"></i></div>
                </div>
                <div class="text-center border-r space-y-2 my-2 p-2 cursor-pointer bg-gray-50">
                    <div class="text-sm">Reading time(hours)</div>
                    <div class="text-xl">0.4 <i class="fa fa-circle-arrow-down text-gray-400"></i></div>
                </div>
                <div class="text-center space-y-2 my-2 p-2 cursor-pointer bg-gray-50" onclick="showFollwerChart()">
                    <div class="text-sm">Subscribers</div>
                    <div class="text-xl">+0 <i class="fa fa-circle-arrow-down text-gray-400"></i></div>
                </div>
            </div>
            <div>
                <canvas class="h-72 px-6" id="myChart"></canvas>
            </div>
            <div class="hidden">
                <canvas class="h-72 px-6" id="follower_chart"></canvas>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <button class="py-2 px-4 mx-6 my-3 rounded-full bg-gray-100 hover:bg-gray-200 font-medium text-sm">See
                more</button>
        </div>
    </div>
    <div class="sm:w-3/12">
        <div class="border rounded-xl my-4 p-2 px-4">
            <div class="font-bold text-lg">
                Realtime
            </div>
            <div class="text-sm font-light">
                Updating live
            </div>
            <hr class="my-4" />
            <div class="font-bold text-lg">
                14
            </div>
            <div class="text-sm font-light">
                Subscribers
            </div>
            <button class="py-2 px-4 bg-gray-100 hover:bg-gray-200 rounded-full font-medium text-sm my-2">
                See
                live count
            </button>
            <hr class="my-2" />
            <div class="font-medium text-lg">
                0
            </div>
            <div class="text-sm font-light">
                Reads - last 48 hours
            </div>
            <button class="py-2 px-4 bg-gray-100 hover:bg-gray-200 rounded-full font-medium text-sm my-2">
                See
                more
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/chart_data.js' %}"></script>
<script>
    render_chart('myChart', JSON.parse('{{labels|safe}}'), JSON.parse('{{data|safe}}'), 'Reads')
    render_chart('follower_chart', JSON.parse('{{follower_entries_labels|safe}}'), JSON.parse('{{follower_entries_data|safe}}'), 'Followers')
    document.addEventListener('onload', () => {
        let chart1 = document.getElementById('myChart')
        let chart2 = document.getElementById('follower_chart')
        chart2.classList.add('hidden')
        
    })
    function showFollwerChart(){
        let chart1 = document.getElementById('myChart')
        let chart2 = document.getElementById('follower_chart')
        chart1.parentElement.classList.add('hidden')
        chart2.parentElement.classList.remove('hidden')
    }
    function showReadsChart(){
        let chart1 = document.getElementById('myChart')
        let chart2 = document.getElementById('follower_chart')
        chart2.parentElement.classList.add('hidden')
        chart1.parentElement.classList.remove('hidden')
    }
</script>
{% endblock %}