{% extends 'author/content_base.html' %}
{% load static %}
{% block title %}
Content comments
{% endblock %}
{% block content %}
<header class="flex items-center justify-between mb-6">
    <div>
        <h2 class="text-3xl font-semibold">
            Video comments
        </h2>
    </div>
</header>
<ul class="flex gap-4 font-medium text-gray-600 border-b">
    <li class="p-2 cursor-pointer text-black border-b-2 font-bold border-gray-500">
        Comments
    </li>
    <li class="hover:border-b-2 hover:border-gray-300 p-2 cursor-pointer">
        Mentions
    </li>
</ul>
<!-- tags -->
<div class="flex gap-2 py-2 *:p-2 *:bg-gray-300 *:rounded-lg text-sm border-b">
    <div class="!bg-black text-white">
        Published
    </div>
    <div>
        Held
    </div>
</div>
<!-- comments items  -->
<div class="flex justify-between py-4 sm:p-4 border-b overflow-x-scroll">
    <div class="flex sm:gap-4">
        <input class="block h-5 w-5" type="checkbox" />
        <img alt="" class="h-14 w-14"
            src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" />
        <div class="text-sm space-y-1">
            <div>
                @username123 - 4 hours ago
            </div>
            <div>
                This is comment text
            </div>
            <div class="flex items-center gap-1">
                <button class="py-2 px-4 bg-gray-100 font-bold hover:bg-gray-200 rounded-full">
                    Reply
                </button>
                <button class="py-2 px-4 bg-gray-100 hover:bg-gray-200 rounded-full whitespace-nowrap">
                    0 replies
                    <i class="fa fa-chevron-down h-5 w-5">
                    </i>
                </button>
                <button class="p-2 hover:bg-gray-200 rounded-full">
                    <i class="fa-regular fa-thumbs-up h-5 w-5">
                    </i>
                </button>
                <button class="p-2 hover:bg-gray-200 rounded-full">
                    <i class="fa-regular fa-thumbs-down h-5 w-5">
                    </i>
                </button>
                <button class="p-2 hover:bg-gray-200 rounded-full">
                    <i class="fa-regular fa-heart h-5 w-5">
                    </i>
                </button>
                <button class="p-2 hover:bg-gray-200 rounded-full">
                    <i class="fa fa-ellipsis-vertical h-5 w-5">
                    </i>
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="flex gap-4 items-center">
            <button class="p-2 hover:bg-gray-200 rounded-full">
                <i class="fa fa-up-right-from-square h-5 w-5">
                </i>
            </button>
        </div>
    </div>
</div>
{% endblock %}