<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Bookish</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block header %} {% endblock %}
</head>

<body>

    <div id="notifications-container" class="fixed w-full sm:w-auto top-7 sm:right-16 space-y-4 z-[1000]">
      <!-- Notifications will be added here dynamically -->
    </div>

    {% include 'components/user_nav.html' %}

    <!-- Main Content -->
    <div class="flex min-h-screen">
        <!-- Sidebar -->
        <aside
            class="z-40 pt-20 fixed left-0 top-0 h-full w-64 bg-white shadow-lg p-4 overflow-y-auto transform -translate-x-full transition-all duration-300 ease-in-out md:translate-x-0"
            id="sidebar">
            <nav>
                <ul class="space-y-1 text-sm" id="sidebarItems">
                    <li class="flex gap-4 items-center m-2 my-4 cursor-pointer" onclick="location.href=`{% url 'author:author_content' content_type %}`">
                        <i class="fa fa-arrow-left text-xl"></i>
                        <div class="font-bold" id="back_text">Channel content</div>
                    </li>
                    <li class="flex flex-col">
                        <img src="{{obj.thumbnail.url}}" id="sidebar_profile_img"
                            class="h-24 w-24 mb-2 transition-all duration-300" alt="">
                        <div class="text-sm font-bold">{{book.title}}</div>
                        <div class="text-sm font-thin max-w-40 whitespace-nowrap overflow-hidden overflow-ellipsis ">{{book.description}}</div>
                    </li>
                    <li onclick="location.href=`{% url 'author:content_details' content_type obj.slug %}`" data-page="content_details"
                        class="flex items-center space-x-3 p-2 rounded-lg transition-all hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-pen text-lg w-6"></i>
                        <span class="text-gray-700">Details</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:content_analytics' content_type obj.slug %}`" data-page="content_analytics"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-chart-line w-6"></i>
                        <span class="text-gray-700">Analytics</span>
                    </li>
                    
                    <li onclick="location.href=`{% url 'author:content_comments' content_type obj.slug %}`" data-page="content_comments"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-message w-6"></i>
                        <span class="text-gray-700">Comments</span>
                    </li>
                    {% if content_type == 'books' %}
                    <li onclick="location.href=`{% url 'author:content_translate' obj.slug %}`" data-page="content_translate"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-language w-6"></i>
                        <span class="text-gray-700">Translate</span>
                    </li>
                    <li onclick="location.href=`{% url 'author:content_audio' obj.slug %}`" data-page="content_audio"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa fa-headphones w-6"></i>
                        <span class="text-gray-700">Audio</span>
                    </li>
                    {% endif %}
                    <li onclick="location.href=`{% url 'author:content_copyright' content_type obj.slug %}`" data-page="content_copyright"
                    class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer menu-item">
                        <i class="fa-regular fa-copyright w-6"></i>
                        <span class="text-gray-700">Copyright</span>
                    </li>

                    <!-- Add more menu items here -->
                </ul>
            </nav>
        </aside>



        <!-- Main Content -->
        <main class="flex-1 w-full p-4 md:ml-64 transition-all delay-100 ease-in-out" id="content">

            {% block content %}

            {% endblock %}


        </main>

    </div>

    <script src="{% static 'js/admin.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>