{% extends 'author/content_base.html' %}
{% load static %}
{% block title %}
Content translate
{% endblock %}
{% block content %}
<div>
    <h2 class="text-3xl font-semibold">Book translate</h2>
</div>

<div>
    <form action="" method="post" class="sm:w-[80%] *:mb-2">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit" value="Submit" class="p-2 rounded bg-green-600 hover:bg-green-700 text-white">
    </form>
</div>
<div class="text-xl font-medium mt-4">Available translations</div>
{% with translations=book.translations.all %}
{% if translations %}
<table class="w-full text-left border-collapse table-auto">
    <tr class="*:border *:p-2">
        <th>#</th>
        <th>Language</th>
        <th>title</th>
        <th>Translated title</th>
    </tr>
    {% for translation in translations %}
    <tr class="*:border *:p-2">
        <td>{{forloop.counter}}</td>
        <td>{{translation.language}}</td>
        <td>{{translation.book.title}}</td>
        <td>{{translation.translated_title}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
No audio for this book found.
{% endif %}
{% endwith %}
{% endblock %}