{% extends 'base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}
{% block content %}

    <h2 class="text-xl font-bold text-gray-700 mb-4">
        {{page}} Books
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">

        {% for book in books %}

        {% include 'components/book_card.html' %}
        
        {% endfor %}

    </div>
   <script>
        let halfMenu = true;
        let fullMenuHide = false;
    </script>
{% endblock %}

