{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<!-- banner -->
<div class="max-h-36 w-full bg-gray-300 m-0 p-0 relative overflow-hidden">
    <!-- banner image here. -->
    <img alt="" class="bg-cover w-full m-auto"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9hN28VhVYenw0Og7z1j95n6hQDYw6lMriBA&s" />
</div>
<div class="flex flex-col gap-3 sm:flex-row sm:justify-between mt-4 sm:items-center">
    <div class="flex gap-4 text-neutral-600 items-center">
        <img alt="" class="h-16 w-16 sm:w-32 sm:h-32 rounded-full"
            src="{{ profile.userprofile.profile_picture.url }}" />
        <div class="space-y-2">
            <div class="text-2xl font-medium">{{ profile.userprofile.full_name }}</div>
            <div class="font-xs flex flex-col lg:flex-row gap-2">
                <div class="font-medium inline-block">@{{ profile.username }}</div>
                <span><span id="followers_count">{{ profile.followers_users.count }}</span> subscribers {{ profile.books.count }} Books</span>
            </div>
            <div class="text-sm">{{ profile.userprofile.bio }}</div>
        </div>
    </div>
    <div>
        {% if profile == user %}
        <button class="py-2 px-4 ml-20 bg-black text-white text-sm font-medium rounded-full" id="openProfileModalBtn">Edit</button>
        {% else %}
        <button id="follow-btn" data-user-id="{{ profile.id }}" data-url="{% url 'main:toggle_follow' %}"
            class="py-2 px-4 ml-20 bg-black text-white text-sm font-medium rounded-full">
            {% if follower %}
            Unfollow
            {% else %}
            Follow
            {% endif %}
        </button>
        {% endif %}
    </div>
</div>
{% include 'components/edit_profile_modal.html' %}
<h2 class="text-xl font-bold text-gray-700 mb-4 mt-8">Books</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
    {% if books %}
    {% for book in books %}
    {% include 'components/book_card.html' with user=profile %}
    {% endfor %}
    {% else %}
    No book published yet.
    {% endif %}
</div>

<h2 class="text-xl font-bold text-gray-700 mb-4 mt-8">News</h2>
<div id="stories-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pb-8">
    {% if news %}
    {% for news in news %}
    {% include "components/news_card.html" %}
    {% endfor %}
    {% else %}
    No news published yet.
    {% endif %}
</div>

<h2 class="text-xl font-bold text-gray-700 mb-4 mt-8">Travel story</h2>
<div id="stories-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pb-8">
    {% if travel_story %}
    {% for story in travel_story %}
    {% include "components/tour_card.html" %}
    {% endfor %}
    {% else %}
    No story published yet.
    {% endif %}

</div>


<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% endblock %}

{% block scripts %}
<script>
    let halfMenu = true
    let fullMenuHide = false
</script>
<script>
    const modal = document.getElementById("profileModal")
    const openModalBtn = document.getElementById('openProfileModalBtn')
    const closdModalBtn = document.getElementById('closeProfileModalBtn')

    openModalBtn.addEventListener('click', () => {
        modal.classList.remove('hidden')
        modal.classList.add('flex')
    })
    closdModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden')
        modal.classList.remove("flex")
    })
    function getColorForCategory(category) {
    const colors = {
        'Politics': 'red',
        'Technology': 'purple',
        'Business': 'yellow',
        'Sports': 'green',
        'Entertainment': 'pink',
        'Health': 'red',
        'Science': 'yellow',
        'World': 'blue',
        'Environment': 'blue',
        'Community': 'green',
        'Local': 'blue',
        'Global': 'green',
        'Research': 'purple',
        'Finance': 'yellow'
    };
    return colors[category] || 'gray';
}
</script>

{% endblock %}