{% extends 'base.html' %}
{% load static %}
{% block title %}
Subscriptions
{% endblock %}
{% block content %}
<h2 class="text-xl font-bold text-gray-700 mb-4">
    {{collection.name}}
</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
    {% if collection.reading_list.all %}
    {% for item in collection.reading_list.all %}
    {% with book=item.book %}
    {% include 'components/book_card.html' %}
    {% endwith %}
    {% endfor %}
    {% else %}
    This collection is empty
    {% endif %}
</div>


<script>
    let halfMenu = true;
    let fullMenuHide = false;
</script>
{% endblock %}