@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* #page-container h1, #book_content h1 {
        @apply text-2xl font-bold mt-2 leading-tight;
    }

    #page-container h2, #book_content h2 {
        @apply text-xl font-semibold mt-2 leading-tight;
    }

    #page-container h3, #book_content h3 {
        @apply text-lg font-medium mt-1 leading-tight;
    }

    #page-container p, #book_content p {
        @apply text-base leading-normal;
    } */
    .active-menu{
        @apply text-black border-b-2 font-bold border-gray-500 hover:border-gray-500;
    }
}

