<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %}- Bookish
    </title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/utils.js' %}"></script>
    {% block header %}

    {% endblock %}
  </head>

  <body>
    <div id="notifications-container" class="fixed w-full sm:w-auto top-7 sm:right-16 space-y-4 z-[1000]">
      <!-- Notifications will be added here dynamically -->
    </div>

    {% include 'components/user_nav.html' %}
    <!-- Main Content -->
    <div class="flex">
      {% include 'components/user_side_menu.html' %}

      <main class="flex-1 p-4 md:ml-64 max-w-7xl mx-auto overflow-hidden" id="content">
        {% block content %}

        {% endblock %}
      </main>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

    

    {% for message in messages %}
      {% if message.tags == 'success' %}
        {% with color='green' %}
          <script>
            addNotification("{{message}}", '{{color}}')
          </script>
        {% endwith %}
      {% else %}
        {% with color='red' %}
          <script>
            addNotification("{{message}}", '{{color}}')
          </script>
        {% endwith %}
      {% endif %}
    {% endfor %}

    {% if not user.is_authenticated %}
      <script src="{% static 'js/auth_modal.js' %}"></script>
    {% endif %}
    {% block scripts %}

    {% endblock %}
  </body>
</html>
