{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="flex lg:flex-row flex-col gap-4 md:mx-6">
    <div class="lg:w-3/5 space-y-2">
        <div class="container mx-auto">
            <!-- Book Container -->
            <div class="border rounded-xl shadow-md max-w-lg mx-auto bg-white overflow-hidden" id="book-container">
                <div class="relative" id="cover-container">
                    <img alt="Book Cover" class="mx-auto"
                        src="https://ds.rokomari.store/rokomari110/ProductNew20190903/260X372/Rich_Dad_Poor_Dad-Robert_T_Kiyosaki-a28a3-150615.jpg" />
                    <button
                        class=" hidden absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700"
                        id="read-now-btn">
                        Read Now
                    </button>
                </div>
                <!-- Reader Container -->
                <div class="hidden p-6 relative" id="reader-container">
                    <div class="transition-transform duration-500 ease-in-out bg-gray-100 p-4 rounded-lg"
                        id="page-content">
                        <p class="text-justify text-gray-800" id="page-text">
                            <!-- Page content will load here -->
                        </p>
                    </div>
                    <div class="flex justify-between items-center mt-4">
                        <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700" id="prev-btn">
                            Previous
                        </button>
                        <div>
                            <label class="mr-2" for="page-number">
                                Page:
                            </label>
                            <input class="border rounded w-12 text-center" id="page-number" min="1" type="number"
                                value="1" />
                            <span class="ml-1" id="total-pages">
                                / 10
                            </span>
                        </div>
                        <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700" id="next-btn">
                            Next
                        </button>
                        <div class="flex justify-center items-center">
                            <label class="mr-2" for="ratio">
                                Ratio:
                            </label>
                            <select class="border rounded px-2 py-1" id="ratio">
                                <option value="text-sm">
                                    Small
                                </option>
                                <option selected="" value="text-base">
                                    Normal
                                </option>
                                <option value="text-lg">
                                    Large
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="hidden" id="book_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sit hic praesentium
                        optio ab atque quis distinctio omnis numquam possimus sequi explicabo magnam, est
                        voluptate perspiciatis ad! Iure, beatae veniam praesentium voluptas ad quidem
                        veritatis asperiores! Perferendis debitis dolores amet laborum temporibus asperiores
                        nulla nisi aliquam molestiae dolore corporis repellendus ipsa a quibusdam eligendi,
                        doloremque facere ut ad deleniti delectus officiis praesentium quam. Eveniet
                        dignissimos, quam est blanditiis, iusto consectetur inventore repudiandae dolorem,
                        exercitationem dicta libero deleniti minima! Blanditiis consequatur, culpa debitis
                        alias deserunt maiores? Blanditiis reprehenderit eveniet hic a ipsam ratione,
                        perspiciatis, distinctio sint numquam, ad ea optio ex ipsa. Exercitationem
                        consequuntur quasi cupiditate doloremque non distinctio! Itaque autem sint deserunt,
                        quia doloremque velit voluptas porro architecto alias repellat adipisci delectus
                        rerum maxime voluptatem ex aliquam nesciunt ducimus optio. Nostrum quibusdam
                        necessitatibus odit, debitis a fugit tempora expedita blanditiis eum nesciunt
                        mollitia sapiente placeat autem, explicabo accusamus, hic saepe. Molestias, odio.
                        Asperiores repudiandae dignissimos ab sit suscipit libero ipsa beatae maxime est
                        velit accusamus fuga unde, eos adipisci. Quae officia provident id, eaque pariatur
                        magnam reiciendis est iste quibusdam, aut consequatur in. Ex accusamus facere in?
                        Cum dolores, doloribus natus saepe, illum nam eius provident aliquid in consequuntur
                        rem nemo fuga possimus ducimus. Laboriosam vel accusamus iure et laborum eius odit
                        eveniet est ullam sit ea cumque mollitia dicta nam eaque, ratione corrupti
                        blanditiis nobis at officiis nisi iste. Iste vero minus, veniam eos placeat
                        aspernatur, corporis neque voluptatum laborum fugiat ex corrupti vel odio expedita
                        non ipsum cupiditate, fuga veritatis delectus odit pariatur quibusdam? Quae,
                        perferendis natus ducimus modi ipsa harum sit tempora error minus dignissimos
                        doloribus quasi quam! Eius fugit repellat ullam, blanditiis tempora nobis. Ducimus
                        ex vero sequi facilis totam unde? Repudiandae iste sed, fugit similique dignissimos
                        excepturi, accusantium repellat nulla cum hic rerum. Aliquid culpa neque in, quis
                        ipsa, voluptas illo maiores veritatis harum magnam nemo et adipisci esse, sit
                        laudantium quo provident libero officia! Animi eligendi reiciendis dolore facere
                        dolores voluptatum quidem soluta repellendus sed cumque minus numquam molestias
                        vitae ducimus placeat perspiciatis ab ipsum quasi ipsa, culpa tenetur rem. Ex
                        reprehenderit est provident ipsum modi voluptas error ratione asperiores itaque!
                        Iusto quos quam, eaque deserunt eos facere porro, dolores, consectetur sequi quia
                        quisquam? Quasi placeat, ut id natus sunt possimus adipisci at a deserunt asperiores
                        corporis voluptatem sapiente aut, repellendus fuga magni officia quo veritatis
                        praesentium consectetur. Optio aut eaque quas numquam, in consequatur dicta qui cum
                        nobis rem, nemo harum! Impedit soluta sunt praesentium nisi, repudiandae libero
                        aliquid beatae quis deleniti magni nam, esse atque porro quasi doloremque corrupti
                        consequuntur nulla, eum rerum repellendus! Quod est libero corrupti, nesciunt non,
                        laborum pariatur, mollitia fugiat illum laboriosam nemo magni quia quidem dicta
                        optio a laudantium. Tenetur consequatur eos, at rem, quisquam a autem nam harum
                        veritatis ad id maiores dolore quo reiciendis. Ad magni quos possimus esse,
                        adipisci, porro est labore corporis blanditiis neque distinctio animi hic eveniet.
                        Voluptatem perspiciatis autem qui alias quod id expedita ab sit eos, quisquam
                        facilis praesentium non.
                    </div>
                </div>
            </div>
        </div>
        <div class="text-xl font-medium my-2">
            This is Book Title Lorem ipsum consectetur adipisicing elit.
            Tenetur culpa iure recusandae error illum nam similique, nihil aliquid quia doloremque!
        </div>
        <div class="flex flex-col md:flex-row justify-between">
            <div class="flex space-x-3  items-center justify-between">
                <div class="flex">
                    <img alt="" class="h-10 w-10"
                        src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" />
                    <div class="flex flex-col">
                        <div class="font-medium">
                            ATN News
                        </div>
                        <div class="font-sm text-xs">
                            6.21M subscribers
                        </div>
                    </div>
                </div>

                <button class="bg-black text-white px-2 py-1 rounded-xl">
                    Follow
                </button>
            </div>
            <div class="flex items-center">
                <div
                    class="bg-neutral-200 border-gray-300 flex p-2 px-3 space-x-1 items-center text-sm rounded-l-full border-r-2 cursor-pointer hover:bg-neutral-300">
                    <i class="fa-regular fa-thumbs-up">
                    </i>
                    <div class="text-normal">
                        52k
                    </div>
                </div>
                <div
                    class="bg-neutral-200 flex p-2 mr-3 space-x-1 px-3 items-center text-sm rounded-r-full cursor-pointer hover:bg-neutral-300">
                    <i class="fa-regular fa-thumbs-down">
                    </i>
                    <div class="text-normal">
                        52k
                    </div>
                </div>
                <button class="bg-neutral-200 hover:bg-neutral-300 p-2 mr-3 rounded-full text-sm">
                    <i class="fa fa-share">
                    </i>
                    Share
                </button>
                <button class="bg-neutral-200 hover:bg-neutral-300 w-12 p-2 rounded-full text-sm">
                    <i class="fa fa-ellipsis">
                    </i>
                </button>
            </div>
        </div>
        <!-- Description container -->
        <div class="w-full bg-gray-200 p-4 rounded-lg">
            <div class="font-bold text-sm">
                1,191,551 views Dec 28, 2024
            </div>
            #Englishmovies #HollywoodMovieHindiDubbed #hollywoodactionmovieshindi
            #Englishmovies
            #HollywoodMovieHindiDubbed
            #hollywoodactionmovieshindi
            #bloodshot #Englishmovies #hollywoodactionmoviehindi

            #bloodshot #HindiDubbed #actionmovies

            New Hollywood Movie In Hindi | New Movie 2023
            hollywood movies in hindi dubbed full action hd 2023
            hollywood movies in hindi dubbed full action hd live
        </div>
        <div class="font-bold text-lg py-3">
            1750 Comments
        </div>
        <div class="space-y-4">
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://cdn-icons-png.flaticon.com/512/10337/10337609.png" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKw_zlWKnWn_5ZzhNvkHTcruXbNu7F5DAy4PbiWUpG6JaZg3JrB4DvbqZ16Icbb7Ujkqs&usqp=CAU" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                    <button class="p-2 text-sm hover:bg-blue-100 rounded-full text-blue-700 font-bold">
                        <i class="fa fa-chevron-down pr-2">
                        </i>
                        3 Replies
                    </button>
                </div>
            </div>
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://cdn-icons-png.flaticon.com/512/10337/10337609.png" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKw_zlWKnWn_5ZzhNvkHTcruXbNu7F5DAy4PbiWUpG6JaZg3JrB4DvbqZ16Icbb7Ujkqs&usqp=CAU" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                    <button class="p-2 text-sm hover:bg-blue-100 rounded-full text-blue-700 font-bold">
                        <i class="fa fa-chevron-down pr-2">
                        </i>
                        3 Replies
                    </button>
                </div>
            </div>
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://cdn-icons-png.flaticon.com/512/10337/10337609.png" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex space-x-2">
                <img alt="" class="h-10 w-10 rounded-full"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKw_zlWKnWn_5ZzhNvkHTcruXbNu7F5DAy4PbiWUpG6JaZg3JrB4DvbqZ16Icbb7Ujkqs&usqp=CAU" />
                <div>
                    <div class="text-sm font-medium">
                        @username241456
                        <span class="text-sm font-thin">
                            2 Hours
                            ago
                        </span>
                    </div>
                    <div class="text-base">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                        hic?
                    </div>
                    <div class="flex space-x-3 text-sm items-center">
                        <div class="font-extralight">
                            <button>
                                <i class="fa-regular fa-thumbs-up">
                                </i>
                                10
                            </button>
                        </div>
                        <div class="font-medium">
                            <button>
                                <i class="fa-regular fa-thumbs-down">
                                </i>
                            </button>
                        </div>
                        <button class="p-2 font-bold rounded-full hover:bg-gray-200">
                            Reply
                        </button>
                    </div>
                    <button class="p-2 text-sm hover:bg-blue-100 rounded-full text-blue-700 font-bold">
                        <i class="fa fa-chevron-down pr-2">
                        </i>
                        3 Replies
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:w-2/5">
        <!-- side content container -->
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
        <div class="flex h-36 justify-between space-x-2 mb-3 cursor-pointer">
            <!-- image container -->
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img alt="" class="h-full w-full object-cover"
                    src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
            </div>
            <!-- text container  -->
            <div class="py-2">
                <div class="font-medium">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis dolore.
                </div>
                <div class="text-sm font-extralight mt-2">
                    ATN News
                </div>
                <div class="text-xs font-thin">
                    10K views • 2 days ago
                </div>
            </div>
            <div>
                <button class="p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                    <i class="fa fa-ellipsis-vertical">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    let fullMenuHide = true
    let halfMenu = false
    const sideBar = document.getElementById('sidebar')
    const cardGrid = document.getElementById('content')
    sideBar.classList.toggle('md:translate-x-0')
    cardGrid.classList.remove('md:ml-64')
</script>
<script src="{% static 'js/book_view.js' %}">
</script>
{% endblock %}