{% extends 'base.html' %}
{% load static %}
{% block title %}
  News
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
  <div class="max-w-3xl">
    <div class="text-md my-4">বিশ্ব</div>

    <div class="font-medium text-3xl my-4">রোম শহরের বুকে আস্ত এক দেশ ভ্যাটিকান সিটি</div>
    <div class="text-gray-400">আয়তনে বিশ্বের সবচেয়ে ছোট দেশ ভ্যাটিকান সিটি। রোমান ক্যাথলিক গির্জার ধর্মগুরুদের আবাসভূমি এটি। ভ্যাটিকান সিটি থেকে গির্জার সরকার বা ধর্ম যাজকীয় শাসনব্যবস্থা পরিচালনা করেন পোপ। বিভিন্ন দেশ থেকে আসা ধর্মযাজক ও সন্ন্যাসীরাই মূলত এখানকার বাসিন্দা। এখানে সেন্ট পিটার্স ব্যাসিলিকা গির্জাসহসহ বেশ কিছু গুরুত্বপূর্ণ ভবনের অবস্থান। ১৯২৯ সালের ১১ ফেব্রুয়ারি ভ্যাটিকান সিটি স্বাধীন দেশের স্বীকৃতি পায়। জাতিসংঘের শিক্ষা, বিজ্ঞান ও সংস্কৃতিবিষয়ক সংস্থা ইউনেসকো ১৯৮৪ সালে ভ্যাটিকান সিটিকে বিশ্ব ঐতিহ্যের এলাকা ঘোষণা করে। আজ মঙ্গলবার দেশটির স্বাধীনতা লাভের ৯৬ বছর পূর্ণ হলো। বিশেষ এই দিনটিতে ভ্যাটিকান সিটির আদ্যোপান্ত জেনে নেওয়া যাক।</div>
    <img class="m-auto mt-4" src="https://media.prothomalo.com/prothomalo-bangla%2F2025-02-11%2Fu87u9wsh%2FVatican-1.jpg?rect=0%2C2%2C844%2C563&w=622&auto=format%2Ccompress&fmt=avif" alt="">
  </div>



  <script>
    let halfMenu = true;
    let fullMenuHide = false;
</script>
{% endblock %}
