{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- banner  -->
<div class="max-h-36 w-full bg-gray-300 m-0 p-0 relative overflow-hidden">
    <!-- banner image here. -->
    <img alt="" class="bg-cover w-full m-auto"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9hN28VhVYenw0Og7z1j95n6hQDYw6lMriBA&s" />
</div>
<div class="flex flex-col gap-3 sm:flex-row sm:justify-between mt-4 sm:items-center">
    <div class="flex gap-4 text-neutral-600 items-center">
        <img alt="" class="h-16 w-16 sm:w-32 sm:h-32 rounded-full" src="{% static 'profile_img/profile_img1.webp' %}" />
        <div class="space-y-2">
            <div class="text-2xl font-medium">
                Channel name
            </div>
            <div class="font-xs flex flex-col lg:flex-row">
                <div class="font-medium inline-block">
                    @username123
                </div>
                <span>15.3k subscribers 10 Books</span>
                
            </div>
            <div class="text-sm">
                THis is short description for this channel
            </div>
        </div>
    </div>
    <div>
        <button class="py-2 px-4 ml-20 bg-black text-white text-sm font-medium rounded-full">
            Subscribe
        </button>
    </div>
</div>
<h2 class="text-xl font-bold text-gray-700 mb-4 mt-8">
    Books
</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden cursor-pointer" onclick="location.href='book_view.html'">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full"
                src="https://ds.rokomari.store/rokomari110/ProductNew20190903/260X372/Rich_Dad_Poor_Dad-Robert_T_Kiyosaki-a28a3-150615.jpg" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between items-center">
                <div>
                    <img alt="" class="h-10 w-10 mx-1 border rounded-full"
                        src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full" src="{% static 'book images/img1.jpg' %}" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between items-center">
                <div>
                    <img alt="" class="h-10 w-10 mx-1 rounded-full border" src="{% static 'profile_img/profile_img1.webp' %}" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full" src="{% static 'book images/img2.jpg' %}" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between items-center">
                <div>
                    <img alt="" class="h-10 w-10 rounded-full mx-1" src="{% static 'profile_img/profile_img2.webp' %}" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full" src="{% static 'book images/img3.jpg' %}" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between">
                <div>
                    <img alt="" class="h-10 w-10 rounded-full" src="{% static 'profile_img/profile_img3.png' %}" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full" src="{% static 'book images/img4.jpeg' %}" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between">
                <div>
                    <img alt="" class="h-10 w-10 rounded-full" src="{% static 'profile_img/profile_img4.png' %}" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full" src="{% static 'book images/img5.jpg' %}" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between">
                <div>
                    <img alt="" class="h-10 w-10 rounded-full" src="{% static 'profile_img/profile_img5.png' %}" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full"
                src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between">
                <div>
                    <img alt="" class="h-10 w-10"
                        src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="relative bg-slate-300" style="padding-bottom: 150%;">
            <!-- 16:9 Aspect Ratio -->
            <img alt="Video Thumbnail" class="absolute object-cover h-full w-full"
                src="https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs" />
        </div>
        <div class="p-1 my-2">
            <div class="flex justify-between">
                <div>
                    <img alt="" class="h-10 w-10"
                        src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" />
                </div>
                <div>
                    <h3 class="text-sm font-bold text-gray-800">
                        Book Title
                    </h3>
                    <p class="text-xs text-gray-500">
                        Channel Name
                    </p>
                    <p class="text-xs text-gray-400">
                        10K views • 2 days ago
                    </p>
                </div>
                <div>
                    <button class="p-2" onclick="event.stopPropagation()">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Repeat for more videos -->
</div>
<!-- contet area  -->


{% endblock %}

{% block scripts %}
<script>
    let halfMenu = true;
    let fullMenuHide = false;
</script>
{% endblock %}