<thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
    <tr>
        <th class="px-6 py-5 flex gap-3 items-center border-r h-full min-w-96" scope="col">
            <input id="select_all" name="" type="checkbox" /> {{content_type|upper}}
        </th>
        <th class="px-2 py-3" scope="col">Visibility</th>
        <th class="px-2 py-3" scope="col">Restrictions</th>
        <th class="px-2 py-3" scope="col">Date</th>
        <th class="px-2 py-3" scope="col">Views</th>
        <th class="px-2 py-3" scope="col">Comments</th>
        <th class="px-2 py-3 text-end" scope="col">Likes(vs Dislikes)</th>
    </tr>
</thead>
<tbody>          
    {% for tour in tours %}
    <tr class="bg-white border-b align-top text-xs">
        <th class="px-6 py-4 font-medium text-gray-900 flex gap-3 border-r" scope="col">
            <input id="select-{{tour.id}}" class="select" name="" type="checkbox" />
            <img alt="" class="h-20 w-12 object-cover" src="{{tour.thumbnail.url}}" />
            <div class="text-sm cursor-pointer" onclick="location.href='/author/content-details/tour/{{tour.slug}}'">
                <div class="font-bold">{{tour.title}}</div>
                <div class="text-gray-600 description">
                    {{tour.story|striptags}}
                </div>
            </div>
        </th>
        <td class="px-2 py-6 whitespace-nowrap">
            <select name="" id="" data-book-id="{{book.id}}"
                class="block p-1 rounded visibility-toggle cursor-pointer">
                <option value="Public" {% if book.status == 'Public' %} selected {% endif %}>Public</option>
                <option value="Private" {% if book.status == 'Private' %} selected {% endif %}>Private</option>
            </select>
        </td>
        <td class="px-2 py-6">None</td>
        <td class="px-2 py-4 whitespace-nowrap">
            <div class="">
                <div class="font-bold">{{tour.created_at|date:'M d, Y'}}</div>
                <div class="text-gray-600">Published</div>
            </div>
        </td>
        <td class="px-2 py-4 text-end">None</td>
        <td class="px-2 py-4 text-end">{{tour.comments.count}}</td>
        <td class="px-2 py-4 text-end">
            <div class="text-sm">
                <div class="font-bold">100%</div>
                <div class="text-gray-600">{{tour.likes.count}} Likes</div>
            </div>
        </td>
    </tr>
    {% endfor %}


</tbody>