<!-- Book Card -->
<div class="bg-white shadow-md rounded-lg cursor-pointer"
    onclick="location.href=`{% url 'main:book_view' book.slug %}`">
    <div class="relative bg-slate-300" style="padding-bottom: 150%;">
        <!-- 16:9 Aspect Ratio -->
        <img alt="Book Thumbnail" class="absolute object-cover h-full w-full opacity-90" src="{{ book.thumbnail.url }}" />
    </div>
    <div class="p-1 my-2">
        <div class="flex gap-2 justify-between items-center">
            <div onclick="event.stopPropagation();location.href=`{% url 'main:profile' book.author.username %}`">
                <img alt="" class="h-10 w-10 mx-1 border rounded-full"
                    src="{{book.author.userprofile.profile_picture.url}}" />
            </div>
            <div class="max-w-[60%]">
                <h3 class="text-sm  font-bold truncate text-gray-800">
                    {{book.title}}
                </h3>
                <a href="{% url 'main:profile' book.author.username %}"
                    class="text-xs text-gray-500 hover:text-blue-400">
                    {{book.author.userprofile.full_name}}
                </a>
                <p class="text-xs text-gray-400 truncate">
                    {{book.views}} Reads • {{book.published_date|timesince}} ago
                </p>
            </div>
            <div>
                <div class="relative">
                    <button class="dropdownButton p-2 rounded-full text-sm">
                        <i class="fa fa-ellipsis-vertical">
                        </i>
                    </button>
                    <!-- Dropdown Menu -->
                    <div id="dropdownMenu"
                        class="dropdownMenu absolute z-[1000] right-0 mt-2 w-max bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                        <ul class="py-1">
                            <li>
                                <button class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100"
                                    data-url="{{request.scheme}}://{{request.get_host}}{% url 'main:book_view' book.slug %}"
                                    onclick="event.stopPropagation();copy_to_clipboard(this, event)">
                                    <div class="fa fa-share mr-2"></div>Copy link
                                </button>
                            </li>
                            <li>
                                <a href="" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                    <div class="fa-regular fa-clipboard mr-2"></div>Share
                                </a>
                            </li>
                            {% for item in user.reading_list.all %}
                            {% with item.get_book_ids as book_ids %}
                            <li>
                                {% if book.id in book_ids %}
                                <a href="{% url 'main:remove_from_collection' book.slug item.name %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 truncate max-w-48">
                                    <div class="fa fa-minus mr-2"></div>Remove from {{ item.name }}
                                </a>
                                {% else %}
                                <a href="{% url 'main:add_to_collection' book.slug item.name %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 truncate max-w-48">
                                    <div class="fa fa-plus mr-2"></div>Add to {{ item.name }}
                                </a>
                                {% endif %}
                            </li>
                            {% endwith %}
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>