<!-- Modal Structure -->
<div id="profileModal" class="fixed inset-0 items-center justify-center bg-gray-900 bg-opacity-50 z-50 hidden">
    <div class="bg-white rounded-lg shadow-lg w-96 p-6">
        <div class="flex justify-between items-center pb-4 border-b">
            <h2 class="text-2xl font-semibold text-gray-700">Edit profile</h2>
            <button id="closeProfileModalBtn" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <input type="submit" value="Save" class="py-2 px-4 rounded border hover:bg-gray-200 bg-gray-100">
        </form>
        
        

       
    </div>
</div>