<!-- Sidebar -->
<aside class="z-10 pt-20 fixed top-0 h-full md:w-64 bg-white shadow-lg p-4 overflow-y-auto transform -translate-x-full transition-all duration-300 ease-in-out md:translate-x-0"
id="sidebar">
<nav>
    <ul class="space-y-1 text-sm">
        <li onclick="location.href=`{% url 'main:index' %}`"  
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-house text-lg w-6"></i>
            <span class="text-gray-700">Home</span>
        </li>
        <li onclick="location.href=`{% url 'main:news_cast' %}`" 
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-quote-left text-lg w-6"></i>
            <span class="text-gray-700">News</span>
        </li>
        <li onclick="location.href=`{% url 'main:subscriptions' %}`" 
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-star w-6"></i>
            <span class="text-gray-700">Subscriptions</span>
        </li>

        <hr class="pt-2">
        <li onclick="location.href=`{% url 'main:history' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-history w-6"></i>
            <span class="text-gray-700">History</span>
        </li>
        <li onclick="location.href=`{% url 'main:continue_reading' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-pause w-6"></i>
            <span class="text-gray-700 whitespace-pre-wrap">Continue Reading</span>
        </li>
        <li onclick="location.href=`{% url 'main:collections' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-heart w-6"></i>
            <span class="text-gray-700">Collections</span>
        </li>

        <hr class="pt-2">
        <li onclick="location.href=`{% url 'main:trending' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-arrow-trend-up w-6"></i>
            <span class="text-gray-700">Treanding Books</span>
        </li>
        <li onclick="location.href=`{% url 'main:recent' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-clock w-6"></i>
            <span class="text-gray-700">Recently Published</span>
        </li>
        <li onclick="location.href=`{% url 'main:popular' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-fire-flame-curved w-6"></i>
            <span class="text-gray-700">Popular Books</span>
        </li>

        <hr class="pt-2">
        {% if following %}
        <div class="flex justify-between items-center">
            <div class="font-base p-2">
                Subscriptions
            </div>
            <a href="{% url 'main:subscriptions' %}" class="text-blue-400" id="subs">
                All({{user.userprofile.following.count}})
            </a>
        </div>
        
        {% for author in following %}
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item" onclick="location.href=`{% url 'main:profile' author.user.username %}`">
            <div class="overflow-hidden rounded-lg max-w-28">
                <img class="h-6 w-6"
                    src="{{author.profile_picture.url}}"
                    alt="">
            </div>
            <span class="text-gray-700">{{author.full_name}}</span>
        </li>
        {% endfor %}
        <hr class="pt-2">
        {% endif %}


        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-gear text-lg w-6"></i>
            <span class="text-gray-700">Settings</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-circle-question text-lg w-6"></i>
            <span class="text-gray-700">Help</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-message w-6"></i>
            <span class="text-gray-700">Feedback</span>
        </li>

        <!-- Add more menu items here -->
    </ul>
</nav>
</aside>    