<!-- Sidebar -->
<aside class="z-10 pt-20 fixed top-0 h-full md:w-64 bg-white shadow-lg p-4 overflow-y-auto transform -translate-x-full transition-all duration-300 ease-in-out md:translate-x-0"
id="sidebar">
<nav>
    <ul class="space-y-1 text-sm">
        <li onclick="location.href=`{% url 'main:index' %}`"  
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-house text-lg w-6"></i>
            <span class="text-gray-700">Home</span>
        </li>
        <li onclick="location.href=`{% url 'main:news_cast' %}`" 
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-quote-left text-lg w-6"></i>
            <span class="text-gray-700">News</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-star w-6"></i>
            <span class="text-gray-700">Subscriptions</span>
        </li>

        <hr class="pt-2">
        <li onclick="location.href=`{% url 'main:history' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-history w-6"></i>
            <span class="text-gray-700">History</span>
        </li>
        <li onclick="location.href=`{% url 'main:continue_reading' %}`"
        class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-pause w-6"></i>
            <span class="text-gray-700">Continue Reading</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-heart w-6"></i>
            <span class="text-gray-700">Favorites</span>
        </li>

        <hr class="pt-2">
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-arrow-trend-up w-6"></i>
            <span class="text-gray-700">Treanding Books</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-clock w-6"></i>
            <span class="text-gray-700">Recently Published</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-fire-flame-curved w-6"></i>
            <span class="text-gray-700">Popular Books</span>
        </li>

        <hr class="pt-2">

        <div class="font-base p-2">
            Subscriptions
        </div>

        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img class="h-6 w-6"
                    src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg"
                    alt="">
            </div>
            <span class="text-gray-700">NTV News</span>
        </li>

        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img class="h-6 w-6"
                    src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg"
                    alt="">
            </div>
            <span class="text-gray-700">NTV News</span>
        </li>

        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <div class="overflow-hidden bg-red-600 rounded-lg max-w-28">
                <img class="h-6 w-6"
                    src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg"
                    alt="">
            </div>
            <span class="text-gray-700">NTV News</span>
        </li>
        <hr class="pt-2">

        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa fa-gear text-lg w-6"></i>
            <span class="text-gray-700">Settings</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-circle-question text-lg w-6"></i>
            <span class="text-gray-700">Help</span>
        </li>
        <li class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 cursor-pointer menu-item">
            <i class="fa-regular fa-message w-6"></i>
            <span class="text-gray-700">Feedback</span>
        </li>

        <!-- Add more menu items here -->
    </ul>
</nav>
</aside>    