{% load static %}
<!-- Header (Navigation Bar) -->
<header class="bg-white shadow-md sticky top-0 z-[1000] px-4">
    <div class="flex items-center justify-between py-3">
        <!-- Logo and Hamburger -->
        <div class="flex items-center space-x-4">
            <button class="px-2 rounded hover:bg-gray-200" id="menuToggle">
                <i class="fa fa-bars text-2xl"></i>
            </button>
            <!-- <img src="https://via.placeholder.com/100x40?text=YouTube" alt="YouTube Logo" class="h-8"> -->
            <a href="{% url 'main:index' %}">
                <img src="{% static 'logo.png' %}" class="h-12 hidden sm:block" alt=""></a>
        </div>

        <!-- Search Bar -->
        <form action="{% url 'main:search' %}" method="get" class="hidden sm:flex md:flex items-center justify-center mx-4 flex-grow">
            <input type="text" placeholder="Search" name="q" value="{{q}}"
                class="w-2/4 border border-gray-300 rounded-l-full py-2 px-4 focus:outline-none">
            <button type="submit"
                class="px-5 py-2 bg-gray-100 border-t border-b border-r border-gray-300 rounded-r-full hover:bg-gray-200">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <!-- Profile and Icons -->
        <div class="flex items-center space-x-4">
            {% if user.is_authenticated %}
            <!-- logged in view  -->
            <div class="relative">
                <button class="dropdownButton p-2 border border-gray-300 rounded-full text-sm">
                    <i class="fa fa-plus"></i> Create
                </button>
                <!-- Dropdown Menu -->
                <div id="dropdownMenu"
                    class="dropdownMenu absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                    <ul class="py-1">
                        <li>
                            <a href="{% url "author:write_book" %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                <i class="fa fa-upload mr-2"></i> Publish Book
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'author:create_news' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                <i class="fa fa-pen mr-2"></i> Create News
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                <i class="fa fa-file-pdf mr-2"></i> Upload Pdf
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                <i class="fa fa-headset mr-2"></i> Live
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sm:relative">
                <button class="dropdownButton text-lg w-9 fa-regular fa-bell">
                    {% if unread_notifications > 0 %}
                    <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold px-1.5 py-0.5 rounded-full">
                        {{unread_notifications}}
                    </span>
                    {% endif %}
                </button>
                <div id="dropdownMenu"
                    class="dropdownMenu absolute right-0 mt-2 w-screen sm:w-64 bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                    <ul>
                        
                        <li class=" min-h-60">
                            {% if notifications %}
                            {% for notification in notifications %}
                            <a href="#" class="block px-4 py-2 text-gray-700 {% if notification.is_read %}bg-white{% else %} bg-gray-100 {% endif %} hover:bg-gray-100 ">
                                <div class="flex space-x-2">
                                    <img class="h-10 w-10 rounded-full"
                                        src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg"
                                        alt="">
                                    <div class="max-w-fit relative overflow-hidden">
                                        <div class="truncate">{{notification.content}}</div>
                                        <div class="text-xs font-thin">{{notification.created_at|timesince}} ago</div>
                                    </div>

                                </div>
                            </a>
                            <hr>
                            {% endfor %}
                            {% else %}
                            <div class="text-center px-2 py-4">Nothing to show.</div>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'main:mark_all_as_read' %}" class="w-full block text-center p-1 border text-blue-600">Mark all as read</a>
                            <a href="{% url 'main:clear_notifications' %}" class="w-full block text-center p-1 border text-red-600">Clear History</a>
                        </li>
                        <li>
                            <button class="w-full p-1 border">View all</button>
                        </li>
                    </ul>
                </div>
            </div>

            {% include 'components/profile_menu.html' %}



            {% else %}
            <!-- Guest view  -->
            <div class="relative">
                <button class="dropdownButton p-2 rounded-full hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z">
                        </path>
                    </svg>
                </button>
                <!-- Dropdown Menu -->
                <div
                    class="absolute dropdownMenu right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                    <ul class="py-1">
                        <li>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Option 1</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Option 2</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Option 3</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a>
                <button class="border border-blue-700 p-2 text-blue-700 rounded-full text-sm" id="openModalBtn">
                    <i class="fa fa-user pr-1"></i>
                    Sign in
                </button>
            </a>
            {% endif %}
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal" class="fixed inset-0 items-center justify-center bg-gray-900 bg-opacity-50 z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg w-96 p-6">
            <div class="flex justify-between items-center pb-4 border-b">
                <h2 class="text-2xl font-semibold text-gray-700">Welcome Back</h2>
                <button id="closeModalBtn" class="text-gray-500 hover:text-gray-700">&times;</button>
            </div>
            <div class="flex justify-between border-b py-3">
                <button id="loginTab"
                    class="flex-1 text-center py-2 text-blue-500 border-b-2 border-blue-500">Login</button>
                <button id="registerTab" class="flex-1 text-center py-2 text-gray-500">Register</button>
            </div>

            <!-- Login Form -->
            <div id="loginForm" class="mt-4">
                <form action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="email" class="block text-gray-600">Email Address or username</label>
                        <input type="text" id="email" name="email"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-600">Password</label>
                        <input type="password" id="password" name="password"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md">Login</button>
                    <div class="text-center my-3">
                        Or, Continue with
                    </div>
                    <button type="submit" class="w-full bg-red-500 text-white py-2 rounded-md">Google</button>
                </form>
            </div>

            <!-- Register Form -->
            <div id="registerForm" class="mt-4 hidden">
                <form action="{% url 'accounts:register' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="full-name" class="block text-gray-600">Full name</label>
                        <input type="text" id="full-name" name="full-name"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your full name">
                    </div>
                    <div class="mb-4">
                        <label for="reg-email" class="block text-gray-600">Email Address</label>
                        <input type="email" id="reg-email" name="email"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your email">
                    </div>
                    
                    <div class="mb-4">
                        <label for="reg-password" class="block text-gray-600">Password</label>
                        <input type="password" id="reg-password" name="password"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your password">
                    </div>
                    <div class="mb-4">
                        <label for="reg-password2" class="block text-gray-600">Re-enter password</label>
                        <input type="password" id="reg-password2" name="password2"
                            class="w-full p-2 mt-1 border border-gray-300 rounded-md" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md">Register</button>
                    <div class="text-center my-3">
                        Or, Continue with
                    </div>
                    <button type="button" class="w-full bg-red-500 text-white py-2 rounded-md">Google</button>
                </form>
            </div>
        </div>
    </div>
</header>